body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(../assets/images/grid-pattern.png);
    background-color: #226bb3;
}

header h1 {
    text-align: center;
    margin: 20px 0;
}

.post-container {
    background-color: #eaeaea;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}